.info-window {
  width: 300px;
}

ul {
  height: 150px;
  overflow-y: scroll;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  width: 25%;
  margin: 0 auto;
}

#myUL li:hover:not(.header) {
  background-color: #eee;
  cursor: pointer;
}

.component-container {
  background-color: #fa7268;
}
