.info-window {
  width: 300px;
}

ul {
  height: 150px;
  overflow-y: scroll;
}

#myUL {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

#myUL li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  text-decoration: none;
  padding: 12px;
  font-size: 18px;
  display: block;
  color: black;
  width: 35%;
}

#myUL li:hover:not(.header) {
  background-color: #eee;
  cursor: pointer;
}

.component-container {
  background-color: #fa7268;
}

.matches-title {
  text-align: center;
  margin-top: 2%;
}

.instruction-container {
  float: left;
  margin-top: -10%;
}

.instruction-title {
  margin-left: 5%;
}

.instructions {
  font-size: 0.8em;
  width: 30%;
  position: relative;
}
