code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: black;
  color: white;
}

/* Park Info Styles */

.ParkInfo {
  position: absolute;
  left: 2%;
  top: 68%;
  background: black;
  color: white;
  width: fit-content;
  height: fit-content;
}

#Info-Title {
  color: #ffb300;
  font-weight: bold;
}

.park-info-container {
  display: flex;
  flex-direction: row;
  margin-top: -24px;
  margin-bottom: -24px;
}

h4 {
  margin-right: 10px;
  margin-left: 4px;
  font-weight: bold;
  color: #2667ff;
}

h5 {
  font-size: 14px;
  margin-right: 10px;
}

/* Park Search Style */

.search-form {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  color: #ffb300;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: #2667ff;
  font-weight: bold;
}

.btn {
  background: white;
  color: black;
  font-size: 22px;
  font-weight: bold;
  height: fit-content;
  width: fit-content;
  border: 2px solid white;
  margin-top: 18px;
}

.btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}
